<h1>Guest Details</h1>
<br>
<h2>Name: <%= @guest.name %></h2> <br>
<h2>Occupation: <%= @guest.occupation %></h2>
<br><br>
<%= link_to "Back to Index", guests_path %>
<%= link_to "Back to home", home_path %>
